<footer class="footer-wrap-layout5 bg-color-accent7">
  <section class="mb-3 text-center">
    <div class="mb-lg-0">
      <div class="card shadow-2-strong h-100">
        <div class="d-flex justify-content-center p-2">
          <img
            src="https://avatars.githubusercontent.com/u/49283847?v=4"
            class="rounded-circle shadow-5-strong"
            alt=""
            style="width: 150px; height: 150px"
            aria-controls="#picker-editor"
          />
        </div>
        <div class="card-body">
          <h5 class="fw-bold">Elpidio Mazza</h5>
          <p class="text-muted">Full-Stack Developer</p>
          <ul class="list-unstyled mb-0">
            <a id="anchor3" href="https://github.com/Elpiu" class="px-1">
              <i class="fab fa-github" aria-controls="#picker-editor"></i>
            </a>
            <a
              id="anchor4"
              href="https://www.linkedin.com/in/elpidio-mazza-72b641155"
              class="px-1"
            >
              <i class="fab fa-linkedin-in" aria-controls="#picker-editor"></i>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
