<h1>Agile/Scrum</h1>
<div class="row">
    <div class="col-4">
        <div class="list-group list-group-light" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active px-3 border-0" id="list-intro-list"
                data-mdb-toggle="list" href="#agilescrum-list-intro" role="tab" aria-controls="list-intro">Metodologia
                Agile</a>
            <a class="list-group-item list-group-item-action px-3 border-0" id="list-p1-list" data-mdb-toggle="list"
                href="#agilescrum-list-p1" role="tab" aria-controls="list-p1">Scrum</a>
            <a class="list-group-item list-group-item-action px-3 border-0" id="list-p4-list" data-mdb-toggle="list"
                href="#agilescrum-list-p2" role="tab" aria-controls="list-p2">Significati degli eventi Scrum</a>

            <!--
            <a class="list-group-item list-group-item-action px-3 border-0" id="list-p6-list" data-mdb-toggle="list"
                href="#agilescrum-list-p6" role="tab" aria-controls="list-p">end</a>
             -->
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="agilescrum-list-intro" role="tabpanel"
                aria-labelledby="list-home-list">
                <p>
                    Con la metodologia agile (o sviluppo agile del software), nell'ingegneria del software, si indica un
                    insieme
                    di metodi di sviluppo del software fondati su un insieme di principi comuni.
                </p>
                <p>
                    I metodi agili si contrappongono al modello a cascata e altri modelli di sviluppo tradizionali,
                    proponendo un approccio meno
                    strutturato e focalizzato sull'obiettivo di consegnare al cliente, in tempi brevi e frequentemente,
                    software funzionante e di qualità.
                    Fra le pratiche promosse dai metodi agili ci sono la formazione di team di sviluppo piccoli,
                    poli-funzionali e auto-organizzati, lo
                    sviluppo iterativo e incrementale, la pianificazione adattiva, e il coinvolgimento diretto e
                    continuo del
                    cliente nel processo di sviluppo.
                </p>
                <p>
                    La gran parte dei metodi agili tenta di ridurre il rischio di fallimento sviluppando il software in
                    finestre temporali
                    limitate chiamate iterazioni che, in genere, durano qualche settimana.
                    Ogni iterazione è un piccolo progetto a sé stante e deve contenere tutto ciò che è necessario per
                    rilasciare un
                    piccolo incremento nelle funzionalità del software <strong>pianificazione, analisi dei requisiti,
                        progettazione, implementazione, test e documentazione.
                    </strong>
                </p>
                <p>
                    Anche se il risultato di ogni singola iterazione non ha sufficienti funzionalità da essere
                    considerato completo deve
                    essere pubblicato e, nel susseguirsi delle iterazioni, deve avvicinarsi sempre più alle richieste
                    del cliente.
                    Alla fine di ogni iterazione il team deve rivalutare le proprie priorità di progetto.
                </p>
                <p>
                    I metodi agili preferiscono la comunicazione in tempo reale, preferibilmente faccia a faccia, a
                    quella scritta
                    (documentazione). Il team agile è composto da tutte le persone necessarie per terminare il progetto
                    software,
                    i programmatori e i loro clienti (product manager, dei bussines analyst o dei clienti veri e
                    propri).
                </p>
                <p class="note note-info">
                    <strong>L'obiettivo</strong> è la piena soddisfazione del cliente e non solo
                    l'adempimento di un contratto. Il contratto con l'uso di queste metodologie, inoltre può consentire
                    di
                    abbattere i costi e i tempi di sviluppo del software, aumentando la qualità.
                </p>

                <p class="note note-info">
                    <strong>I valori</strong> su cui si basa una metodologia agile segue questi punti:
                <ul class="list-group list-group-light">
                    <li class="list-group-item">Gli individui e le interazioni più che i processi e gli strumenti</li>
                    <li class="list-group-item">Il software funzionante più che la documentazione esaustiva</li>
                    <li class="list-group-item">La collaborazione con il cliente più che la negoziazione dei contratti
                    </li>
                    <li class="list-group-item">Risposte al cambiamento più che seguire un piano</li>
                </ul>

                </p>

            </div>
            <div class="tab-pane fade" id="agilescrum-list-p1" role="tabpanel" aria-labelledby="list-p1-list">

                <p>
                    Scurm è un framework agile per la gestione del ciclo di sviluppo del software, iterativo ed
                    incrementale,
                    concepito per gestire progetti e prodotti software o applicazioni di sviluppo.
                    In maniera molto sintetica Scrum è un framework di processo che prevede di dividere il progetto
                    in blocchi rapidi di lavoro <strong>(Sprint)</strong> alla fine di ciascuno dei quali creare un
                    incremento del software. Esso indica come definire i dettagli del lavoro da fare nell'immediato
                    futuro e prevedere
                    vari meeting con caratteristiche precise per creare occasioni di ispezione e controllo del lavoro
                    svolto.
                </p>
                <p>
                    Il framework Scrum è costituito dai Team Scrum e dai ruoli, eventi, artefatti e regole ad essi
                    associati.
                    Ogni parte del framework serve a uno specifico scopo ed è essenziale per il successo e l'utilizzo di
                    Scrum.
                    Le regole di Scrum legano insieme gli eventi, i ruoli e gli artefatti, governando le relazioni e le
                    interazioni tra essi
                    acnhe se le strategie specifiche per l'utilizzo del framework Scrum variano e vengano descritte in
                    molti tesi specifici.
                </p>
                <p>
                    I team Scrum rilasciano i prodotti in modo iterativo e incrementale, massimizzando le opportunità
                    di feedback. I rilasci incrementali di prodotto garantiscono che una versione potenzialmente
                    utile del prodotto funzionale sia sempre disponibile.
                </p>
                <p>
                    I principali stackeholder sono clienti e venditori. Sono le persone che permettono il progetto e
                    per i quali il progetto produce i benefici concordati che ne giustificano la produzione.
                    Essi sono coinvolti direttamente nel processo solo durante le Sprint Review.
                </p>

                <p class="note note-info">
                    <strong>Sprint</strong>, lo sprint è un'unità di base dello sviluppo in Scrum ed è di durata fissa,
                    generalmente da una a quattro settimane. Ogni Sprint è preceduto da una riunione di pianificazione
                    in cui vengono identificati
                    gli obiettivi e vengoono stimati i tempi.
                </p>
                <p>
                    Durante uno Sprint non è permesso cambiare gli obiettivi, quindi le modifiche sono sospese
                    fino alla successiva riunione pianificativa, solo in quel momento potranno essere prese in
                    considerazione
                    nel successivo Sprint.
                </p>
                <p>
                    Al termine di ogni Sprint il team di sviluppo consegna una versione potenzialmente completa
                    e funzionante del prodotoo, contenente gli avanzamenti decisi nellal riunione di pianificazione
                    dello Sprint.
                    Nel corso di ogni Sprint, il team crea porzioni complete di un prodotto.
                </p>
                <p>
                    L'insieme delle funzionalità che vengono inserite in un determinato Sprint provengono dal
                    <strong>Product Backlog</strong>, che è una lista ordinata di requisiti. La sezione di quali item
                    del backlog verranno effettivamente
                    inseriti nello Sprint (che poi verrà considerato come Goal) viene effettuata durante lo
                    Sprint Planning Meeting.
                    Durante questo meeting, il Product Owner comunica al team quali item del <strong>Product
                        Backlog</strong>
                    vorrebbe che fossero completi (quelli con priorità più alta). Il team determina quindi quanti di
                    questi pensa di poter completare durante il prossimo Sprint e registra questo dato nello
                    <strong>Product Backlog</strong>.
                </p>
                <p>
                    Gli eventi previsti in Scrum per creare regolarità e ridurre al minimo la necessità di riunioni non
                    definite da
                    Scrum stesso. Scrum utilizza eventi time-bok, in modo che ogni evento abbia una durata massima.
                    Questo assicura che una quantità appropriata di tempo sia trascorsa pianificando, senza permettere
                    l'introduzione di sprechi nel processo di pianificazione.
                    Lo sprint contiente e consiste dello <strong>Sprint Planning meeting</strong>,
                    del <strong>Daily Scrum</strong>, del <strong>lavoro di sviluppo</strong>,
                    dello <strong>Sprint Review</strong> e della <strong>Sprint Retrospective</strong>.
                </p>
                <p class="note note-info">Oltre questi eventi principali, possono aggiungersi altri due meeting:
                    il <strong>Backlog Grooming</strong> e lo <strong>Scrum of Scrums</strong>. </p>

            </div>

            <div class="tab-pane fade" id="agilescrum-list-p2" role="tabpanel" aria-labelledby="list-p2-list">

                <p class="note note-info">Significati</p>

                <ul class="list-group list-group-light">
                    <li class="list-group-item">
                        <strong>Sprint Planning Meeting</strong>, all'inizio di ogni ciclo di Sprint (ogni 7-30 giorni),
                        viene tenuto uno "Sprint Planning Meeting". In questo meeting viene pianificato cosa svolgere
                        nello Sprint.
                    </li>
                    <li class="list-group-item">
                        <strong>Sprint Review</strong>, alla fine dello Sprint si tiene l'incontro di Sprint Review per
                        ispezionare l'incremento e adattare, se necessario, il Product Backlog. Durante la riunione di
                        Sprint Review il
                        team di sviluppo e gli stackeholder collaborano su ciò che è stato fatto durante lo Sprint.
                        In conformità a questo e ai cambiamenti al Product Backlog fatti durante lo Sprint, i
                        partecipanti
                        collaborano sulle prossime cose che potrebbero essere fatte. Si tratta di un incontro informale
                        e la presentazione
                        dell'incremento ha lo scopo di suscitare commenti e promuovere la collaborazione.
                    </li>
                    <li class="list-group-item">
                        <strong>Sprint Retrospective</strong>, è l'occasione per il TeamScrum per ispezionare se stesso
                        e creare un piano
                        di miglioramento da attuare durante il prossimo Sprint. Dopo la Sprint Review e prima del
                        prossimo incontro
                        Sprint Planning, il Team Scrum si riunisce per lo Sprint Retrospective.
                        Lo scopo della Sprint Retrospective è di esaminare come l'ultimo sprint è andato per quanto
                        riguarda le persone,
                        le relazioni i processi e gli strumenti.
                        Identificare e ordinare i maggiori elementi che sono andati bene e il potenziale di
                        miglioramento.
                        Creare un piano per attuare i miglioramenti al modo di lavorare del Team Scrum.
                        Durante questo meeting il Team Scrum i modi per aumentare la qualità del prodotto con l'aiuto
                        anche dello
                        Scrum Master che incoraggia il team a dare il meglio.
                    </li>
                    <li class="list-group-item">
                        <strong>Artefatti</strong>, gli artefatti rappresentano il lavoro o il valore, tali da essere
                        utili a fornire trasparenza e opportunità di ispezione e adattamento. Gli artefatti di scrum
                        sono
                        specificamente progettati per massimizzare la trasparenza delle informazioni chiavi necessarie
                        ad assicurare
                        al Team Scrum il successo nella realizzazione di un incremento.
                    </li>
                    <li class="list-group-item">
                        <strong>Product Backlog</strong>, è una lista ordinata di "requisiti" relativi ad un prodotto.
                        Contiente i
                        <strong>Product Backlog Item</strong> a cui viene assegnata dal Product Owner una priorità in
                        base
                        a considerazioni quali il rischio, il valore di business, le date in cui devono essere
                        realizzati.
                        Le funzionalità aggiuntive al backlog sono comunemente scritte utilizzando il formato delle
                        "storie".
                        Il product backlog contiente delle stime approssimative sia del valore di business che dello
                        sforzo necessario a sviluppare;
                        Queste stime aiutano il Product Owner a calcolare la timeline e possono influenzare l'ordine dei
                        backlog item.
                    </li>
                    <li class="list-group-item">
                        <strong>Sprint Backlog</strong>, è la lista del lavoro che il team di sviluppo deve effettuare
                        nel corso dello Sprint
                        successivo. Questa lsita viene generata selezionando una quantità di storie/funzionalità a
                        partire dalla cima
                        del Product Backlog determinata da quanto il team di sviluppo ritiene possa realizzare duarante
                        lo Sprint.
                        Le storie/funzionalità sono suddivise dal team di sviluppo in attività (task). Grazie a questo
                        livello di dettaglio
                        il team di sviluppo comprende meglio cosa fare, e potenzialmente, ognuno può prendere in carico
                        le attività della lista.
                        I task non vengono mai assegnati, piuttosto, le attività vengono prese in carico dai membri del
                        team durante il Daily Scrum,
                        in base alle priorità predefinite e alle competenze dei membri del team.
                        Questo promuove l'auto-organizzazione e la responsabilizzazione degli sviluppatori.
                        Lo Sprint Backlog è di proprietà del team di sviluppo, e tutte le stime incluse sono effettuate
                        dal team stesso.
                        Spesso viene utilizzata una task board per visualizzare i cambiamenti di stato dei task nello
                        Sprint corrente,
                        come ad esempio "to do", "in progress" e "done".
                    </li>
                </ul>

            </div>

            <!--
            <div class="tab-pane fade" id="agilescrum-list-p6" role="tabpanel" aria-labelledby="list-p6-list">
                <p>Qui trovi i vari test effettuati.</p>
                <p class="note note-info">
                    <strong><a href="#">###</a></strong>
                </p>
            </div>
            -->

        </div>


    </div>