<h1>Design Pattern</h1>
<div class="row">
  <div class="col-4">
    <div class="list-group list-group-light" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active px-3 border-0" id="list-intro-list" data-mdb-toggle="list"
        href="#example-list-intro" role="tab" aria-controls="list-intro">Introduzione</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-p1-list" data-mdb-toggle="list"
        href="#example-list-p1" role="tab" aria-controls="list-p1">Classificazione</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="example-list-intro" role="tabpanel" aria-labelledby="list-home-list">
        <p>
          In informatica e specialmente nell’ambito dell’ingegneria del software, è un concetto che può essere definito
          “una soluzione progettuale generale ad un problema ricorrente”. Si tratta di una descrizione o modello logico
          da applicare per la risoluzione di un problema che può presentarsi in diverse situazioni durante le fasi di
          progettazione e sviluppo del software. È un approccio spesso efficace nel contenere o ridurre il carico
          tecnico.
        </p>
        <p>
          I design pattern orientati agli oggetti tipicamente mostrano relazioni ed interazioni tra classi o oggetti,
          senza specificare le classi applicative finali coinvolte, risiedendo quindi nel dominio dei moduli e delle
          interconnessioni. Ad un livello più alto sono invece i pattern architetturali che hanno un ambito ben più
          ampio, descrivono un pattern complessivo adottato dall’intero sistema, la cui implementazione logica dà vita a
          un framework.
        </p>


        <p class="note note-info"> <strong>La struttura di un design pattern</strong> </p>
        <p>Un design pattern è costituito da:
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item"><strong>Il nome</strong>, costituito da una o due parole che sia il più possibile
            rappresentative del pattern stesso.
          </li>
          <li class="list-group-item"><strong>Il problema</strong>, ovvero la descrizione della situazione alla quale si
            può applicare il pattern. Può comprendere la descrizione di classi o di problemi di progettazione specifici,
            come anche una lista di condizioni perché sia necessario l’utilizzo del pattern.
          </li>
          <li class="list-group-item"><strong>La soluzione</strong>, che descrive gli elementi costitutivi del progetto
            con le relazioni e relative implicazioni, senza però addentrarsi in una specifica implementazione. Il
            concetto è di presentare un problema astratto e la relativa configurazione di elementi adatta a risolverlo.
          </li>
          <li class="list-group-item"><strong>Le conseguenze</strong>, i risultati e i vincoli che derivano
            dall’applicazione del pattern. Sono fondamentali in quanto possono essere l’ago della bilancia nella scelta
            dei pattern: le conseguenze comprendono considerazioni di tempo e di spazio, possono descrivere implicazioni
            del pattern con alcuni linguaggi di programmazione e l’impatto con il resto del progetto.</li>
        </ul>

        </p>
      </div>

      <div class="tab-pane fade" id="example-list-p1" role="tabpanel" aria-labelledby="list-p1-list">
        <p>
          I design pattern possono essere classificati con diversi criteri, i più comuni dei quali sono quelli che
          evidenziano il tipo di problema che si cerca di risolvere. Il problema può essere legato ad uno specifico
          dominio progettuale oppure più comunemente, al problema progettuale in senso più ampio (nell’ingegneria del
          software, ad esempio, si parla di creazione, comportamento, navigazione di oggetti o strutture dati).
        </p>
        <p class="note note-secondary">
          <strong>Pattern Creazionali</strong>, forniscono meccanismi di creazione di oggetti che aumentano la
          flessibilità e il riutilizzo del codice esistente.
        </p>
        <p class="note note-secondary">
          <strong>Pattern Strutturali</strong>, spiegano come assemblare oggetti e classi in strutture più grandi,
          mantenendo queste strutture flessibili ed efficienti.
        </p>
        <p class="note note-secondary">
          <strong>Pattern Comportamentali</strong>, si occupano di una comunicazione efficace e dell'assegnamento di
          responsabilità tra gli oggetti.
        </p>
        <p>Altri tipi di pattern</p>
        <p class="note note-primary">
          <strong>Pattern Architetturali</strong>, operano ad un livello diverso (e più ampio) rispetto ai design
          pattern,
          ed esprimono schemi di base per impostare l'organizzazione strutturale di un sistema software. In questi
          schemi
          si descrivono sottosistemi predefiniti insieme ai ruoli che essi assumono e le relazioni reciproche.
        </p>
        <p class="note note-primary">
          <strong>Pattern di metodologia</strong>, questi pattern si basano sulle buone pratiche di programmazione ad
          oggetti e sui principi della programmazione SOLID.
        </p>
        <p class="note note-primary">
          <strong>Pattern di concorrenza</strong>, nel caso di processi che eseguono contemporaneamente delle attività
          su dati condivisi si parla di concorrenza. Alcuni design pattern sono stati sviluppati per mantenere
          sincronizzato
          lo stato dei dati in tali situazioni.
        </p>

      </div>
    </div>


  </div>