<h1>Title</h1>
<div class="row">
  <div class="col-4">
    <div class="list-group list-group-light" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active px-3 border-0" id="list-intro-list" data-mdb-toggle="list"
        href="#example-list-intro" role="tab" aria-controls="list-intro">Introduzione</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-p1-list" data-mdb-toggle="list"
        href="#example-list-p1" role="tab" aria-controls="list-p1">p1</a>
      <a class="list-group-item list-group-item-action px-3 border-0" id="list-p4-list" data-mdb-toggle="list"
        href="#example-list-p2" role="tab" aria-controls="list-p2">p2</a>

      <a class="list-group-item list-group-item-action px-3 border-0" id="list-p6-list" data-mdb-toggle="list"
        href="#example-list-p6" role="tab" aria-controls="list-p">end</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="example-list-intro" role="tabpanel" aria-labelledby="list-home-list">
        <p>
          INTRO
        </p>
      </div>
      <div class="tab-pane fade" id="example-list-p1" role="tabpanel" aria-labelledby="list-p1-list">

        <p class="note note-info">
          <strong>Esempio 1</strong>
        </p>

      </div>

      <div class="tab-pane fade" id="example-list-p2" role="tabpanel" aria-labelledby="list-p2-list">

        <p class="note note-info">Alcune annotazioni </p>

        <ul class="list-group list-group-light">
          <li class="list-group-item">
            1
          </li>
          <li class="list-group-item">
            2
          </li>
        </ul>

      </div>


      <div class="tab-pane fade" id="example-list-p6" role="tabpanel" aria-labelledby="list-p6-list">
        <p>Qui trovi i vari test effettuati.</p>
        <p class="note note-info">
          <strong><a href="#">###</a></strong>
        </p>
      </div>


    </div>


  </div>