<div class="card mt-5">
  <div class="card-body">Guida ai contenuti studiati.</div>
  <div class="p-5 shadow-inner shadow-2-strong">
    <div class="bg-image ripple hover-overlay img-fluid rounded-4 shadow-2-strong">
      <img src="./assets/images/introImage.png" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
      </a>
    </div>
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/mavenImage.png" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Maven</p>
            <p class="text-muted mb-0">
              Apache Maven è uno strumento di gestione di progetti software
              basati su Java e build automation.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/springImage.png" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Spring Framework</p>
            <p class="text-muted mb-0">
              Framework per le per lo sviluppo di applicazioni Java.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/restImage.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">HTTP/HTTPS e Paradigma REST</p>
            <p class="text-muted mb-0">
              Representational state transfer (REST) è uno stile architetturale
              per sistemi distribuiti basata su HTTP.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/designImage.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Design Pattern</p>
            <p class="text-muted mb-0">
              Potremmo definire un Design Pattern come “una soluzione
              progettuale generale ad un problema ricorrente in un contesto
              specifico“.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/databaseImage.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Database</p>
            <p class="text-muted mb-0">
              Un database è un insieme di informazioni (o dati) strutturate in
              genere archiviate elettronicamente in un sistema informatico.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/tddImage.png" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">TDD e Junit</p>
            <p class="text-muted mb-0">
              Il test-driven development (TDD), è una tipologia di sviluppo
              software che mette al primo posto la fase di testing.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/applicationserverImage.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Application server</p>
            <p class="text-muted mb-0">
              Un Application server è una tipologia di server che fornisce
              l'infrastruttura e le funzionalità logiche di supporto, sviluppo
              ed esecuzione di applicazioni nonché altri componenti server in un
              contesto distribuito.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/agilescrumImage.png" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Agile/Scrum</p>
            <p class="text-muted mb-0">
              La "metodologia agile" è un approccio allo sviluppo del software
              basato sulla distribuzione continua di software efficienti creati
              in modo rapido e iterativo. Scrum è un framework agile,
              incrementale e iterativo, per lo sviluppo di prodotti,
              applicazioni e servizi.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="./assets/images/items/ciImage.png" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">Continuous integration</p>
            <p class="text-muted mb-0">
              L'integrazione continuaè una pratica che si applica in contesti in
              cui lo sviluppo del software avviene attraverso un sistema di
              controllo versione.
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Fatto</span>
      </li>
    </ul>
  </div>
</div>
